aiohappyeyeballs
whitenoise

aiohttp
aiosignal
amqp
asgiref
attrs
autobahn
Automat
billiard
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cryptography
ctrader_open_api
daphne
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dnspython
docker
eventlet
frozenlist
greenlet
h11
hyperlink
idna
incremental
inputimeout
kombu
MetaTrader5
msgpack
multidict
numpy
oandapyV20
pandas
pandas_ta
pip
prompt_toolkit
propcache
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dateutil
pytz
pywin32
redis
requests
rest-framework-simplejwt
service-identity
setuptools
six
sqlparse
tradingview-datafeed
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
uvicorn
vine
wcwidth
websocket-client
websockets
yarl
zope.interface
numpy
